.grid {
    grid-gap: 1px;
}

.gridSquare {
    background-color: green;
}

.outOffBounds {
    background-color: black;
}
.red {
    background-color: red;
}

.taken {
    background-color: purple;
}
