html {
    background-color: indianred;
    color: black;
    font-size: 16x;
}

#game-container {    
    width: 90vw;
    height: 40vw;
    border: 5px solid pink;
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}


#item-storage {
    width: 20%;
    height: 50%;
    border: 5px solid red;
    position: absolute;
    top: 25%;
    left: 0%;
    /* transform: translate(-0%, -50%); */
   
}

.furniture {
    position: absolute;
    background-color:cornsilk ;
}